<div class="container">
    <h3>New Person</h3>
    <p>
        <%= render 'form', person: @person %>
    </p>
    <div class="col s6 right-align">
        <p><%= button_to 'Back', people_path, method: :get, style: 'background-color: blue;', class: 'btn' %></p>
    </div>
</div>