<div class="container">
    <h3>New Recipient</h3>
    <p><%= render 'form', recipient: @recipient %></p>
    <div class="col s6 right-align">
        <p><%= button_to 'Back', recipients_path, method: :get %></p>
    </div>
</div>
