<div class="container">
    <h3>New Catastrophe</h3>
    <p>
        <%= render 'form', catastrophe: @catastrophe %>
    </p>
    <div class="col s6 right-align">
        <p><%= button_to 'Back', catastrophes_path, method: :get %></p>
    </div>
</div>